* {
  margin: 0;

  padding: 0;

  font-family: "Lato", sans-serif;
}

body {
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100vw;
}

html {
  scroll-behavior: smooth;
}

.menubar {
  width: 100%;
  height: 50px;
  box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.4);
  border-radius: 0px 0px 10px 10px;
}
.menubar ul li {
  list-style: none;
  display: inline;
  margin-left: 15%;
  position: relative;
  top: 10px;
}

@media only screen and (max-width: 330px) {
  .menubar ul li {
    list-style: none;
    display: inline;
    margin-left: 1%;
    position: relative;
    top: 10px;
  }
}

@media only screen and (min-width: 331px) {
  .menubar ul li {
    list-style: none;
    display: inline;
    margin-left: 5%;
    position: relative;
    top: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .menubar ul li {
    list-style: none;
    display: inline;
    margin-left: 15%;
    position: relative;
    top: 10px;
  }
}

.menubar ul li a {
  color: #9b0b35;
  text-decoration: none;
}

.aktualny {
  text-align: center;
  margin-top: 3%;
}

.aktualny h1 {
  font-weight: 700;
}
.aktualny h3 {
  font-weight: 700;
}
.aktualny h5 {
  font-weight: 300;
}

a.my-button {
  background: linear-gradient(to right, #9b0b35, #690523);
  background-color: #9b0b35;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  padding: 10px 15px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.info {
  text-align: center;
  margin-top: 2%;
}

.info h1 {
  font-weight: 700;
}

.info h3 {
  font-weight: 300;
}

.osoba {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 560px;
  box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .osoba {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 55vh;
    box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    text-align: center;
  }
}

.osoba img {
  margin-top: 2%;
  border-radius: 50%;
  width: 50%;
}

.partnerzy {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 40%;
  height: 30vh;
  box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .partnerzy {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    height: 30vh;
    box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
}

.partnerzy img {
  width: 40%;
  margin-top: 2%;
}

@media only screen and (min-width: 601px) {
  .partnerzy img {
    width: 10%;
  }
}

.partnerzy h1 {
  font-weight: 700;
}

.partnerzy a {
  text-decoration: none;
  color: black;
  font-weight: 300;
  font-size: 20px;
}

.aktualny h4 {
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
}

@media only screen and (max-width: 600px) {
  .aktualny h4 {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }
}
