* {
  margin: 0;

  padding: 0;
}

body {
  webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Inter, sans-serif;
  margin: 0;
  background-color: #3b484c;
}

.bg {
  position: absolute;
  z-index: -1500;
  background-image: url(https://media.discordapp.net/attachments/749362302750556160/998684521409028116/unknown.png?width=1176&height=625);
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 10px 13px 47px -19px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 13px 47px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 13px 47px -19px rgba(0, 0, 0, 0.75);
}

.head {
  text-align: center;
  position: relative;
  top: 30vh;
  font-family: "Lato", sans-serif;
  color: #ffffff;
}

.head h1 {
  font-family: "Lato", sans-serif;
  font-weight: 800;
}

.head h3 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.what {
  position: relative;
  top: 70vh;
  text-align: center;
}

.what h1 {
  font-family: "Lato", sans-serif;
  font-weight: 800;
}

.menubar {
  text-align: center;
  list-style: none;
  width: 100%;
  height: 40px;
  background-color: #2e3335;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 7px 6px 32px 0px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 7px 6px 32px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 7px 6px 32px 0px rgba(0, 0, 0, 0.42);
}

.menubar li {
  position: relative;
  top: 6px;
  display: inline;
  margin: 6%;
}
.menubar li a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 520px) {
  .menubar li {
    display: inline;
    margin: 0%;
  }
  .menubar {
    text-align: center;
    list-style: none;
    width: 100%;
    height: 60px;
    background-color: #2e3335;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 620px) {
  .menubar li {
    display: inline;
    margin: 2.5%;
  }
}
@media only screen and (max-width: 720px) {
  .menubar li {
    display: inline;
    margin: 3%;
  }
}

.form {
  margin-left: auto;
  margin-right: auto;
}

.form input {
  border-radius: 5px;
  width: 70%;
  height: 40px;
  border: 2px solid black;
  text-align: center;
}

.form a {
  text-decoration: none;
}

.footer {
  border-radius: 10px 10px 0px 0px;
  background-color: #2e3335;
  margin-top: 60vh;
  width: 100%;
  height: 18vh;
}

.footer h1 {
  position: relative;
  top: 10px;
  font-weight: 400;
  color: white;
}

html {
  min-height: 100%;
}
.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 10.8em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.okno {
  position: relative;
  top: 65vh;
  margin-bottom: 5vh;
}

.okno video {
  width: 80%;
  height: 50%;
  border-radius: 10px;
}

.okno img {
  width: 80%;
  object-fit: center;
  height: 50%;
  border-radius: 10px;
}

.okno h1 {
  position: relative;
  top: 2vh;
  color: white;
  opacity: 1;
  font-weight: 200;
}

.karta img {
  width: 80%;
  object-fit: center;
  height: 50%;
  border-radius: 10px;
}

.karta h1 {
  position: relative;
  top: 2vh;
  color: white;
  opacity: 1;
  font-weight: 200;
}

.karta p {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 2vh;
  color: white;
  opacity: 1;
  font-weight: 200;
  display: block;
  max-width: 80%;
}

.info {
  position: relative;
  top: 60vh;
  margin-top: 10vh;
}

.info h1 {
  color: white;
  font-weight: 600;
}

.info h3 {
  color: white;
  font-weight: 300;
}
.button {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 90%;
  background-color: white;
  border-radius: 10px;
  position: relative;
  top: 55vh;
}

.button img {
  margin-right: 2vw;
  width: 5%;
}

.button a {
  position: relative;
  top: 5px;
  text-decoration: none;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #686d6e;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #686d6e;
}

*::-webkit-scrollbar-track:hover {
  background-color: #686d6e;
}

*::-webkit-scrollbar-track:active {
  background-color: #686d6e;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #ffffff;
}
